<style>
    h5{
        color: red;
    }
</style>
<h1>Sign Up</h1>
{% for message in messages %}
<h5>{{message}}</h5>
{% endfor %}
<form action="register" method="POST">
    {% csrf_token %}
    <p>Username</p>
    <input type="text" name="username">

    <p>Email</p>
    <input type="email" name="email" id="">

    <p>Password</p>
    <input type="password" name="password" id="">

    <p>Repeat Password</p>
    <input type="password" name="password2">

    <input type="submit" value="Sign Up">

</form>